.login-page {
    margin: 4rem auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 10px;
  }
  
  .login-form input,
  .login-form div,
  .login-form button {
    margin: 1rem;
  }
  
  .login-form input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
  
  .login-form p {
    color: red;
    font-size: 12px;
    margin-left: 1rem;
  }
  
  .login-actions {
    display: flex;
    justify-content: space-between;
  }
  